.notification {
    padding: 15px;
    border-radius: 5px;
    margin: 10px ;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.success {
    background-color: #4CAF50;
}
.info {
    background-color: #2196F3;
}
.warning {
    background-color: #ff9800;
}
.error {
    background-color: #f44336;
}
.closeBtn{
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.top-right {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.top-left {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}
.bottom-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}